<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Homepage / Mikhail Kotov / ID: 2708337</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
  <div id="header"><img src="logo.png" alt="" width="363" height="126" /></div>
  <br />
  <div id="menu1">
    <ul>
      <li><a href="">Homepage</a></li>
      <li><a href=""><strong>Tables</strong></a></li>
      <li><a href="">Reports</a></li>
      <li><a href="">Tools</a></li>
      <li><a href="">About</a></li>
    </ul>
  </div>
  <br />
  <div id="menu2">
    <ul>
      <li><a href=""><strong>Issues</strong></a></li>
      <li><a href="">Members</a></li>
      <li><a href="">Projects</a></li>
      <li><a href="">Project-Members</a></li>
    </ul>
  </div>
  <br />
  <h3>test</h3>
  <br />
  <table width="200" border="1" align="center" class="sample">
    <tr>
      <th scope="col">header</th>
      <th scope="col">header</th>
      <th scope="col">header</th>
    </tr>
    <tr>
      <td class="sample">text</td>
      <td class="sample">text</td>
      <td class="sample">text </td>
    </tr>
    <tr>
      <td class="sample2">&nbsp;</td>
      <td class="sample2">&nbsp;</td>
      <td class="sample2">&nbsp;</td>
    </tr>
  </table>
  <br />
  Copyright © 2011 . Designed by <strong>Mikhail Kotov</strong> </div>
</body>
</html>